<section class="section">
  <div class="container">
    <h1 class="title">
      <%= @item[:title] %>
    </h1>
    <p class="subtitle">
      <%= @item[:description] %>
    </p>

    <p> 
      <h3>All copies: <%= @item[:count] %></h3>
    </p>
    <p>
      <h3>Address: <%= @item[:address] %></h3>
    </p>
  </div>
</section>
