<section class="section">
  <div class="container">
    <h1 class="title">
        XCGRADUS
    </h1>
    <p class="subtitle">
        Rare paintings on <strong>Blockchain</strong>
    </p>
    <p>
      <h2>Coming soon.</h2>
    </p>
  </div>
</section>
