<% content_for :title, @collection[:title] %>

<section class="section">
  <div class="container">

    <div class="tags has-addons">
      <span class="tag">Collection</span>
      <span class="tag is-primary">10 pieces</span>
    </div>

    <h2 class="subtitle is-3">
      <%= @collection[:title] %>
    </h2>

    <p class='mb-5'>
      We stand on the shoulders of the giants. 
    </p>

    <% counter=0 %> 
    <% for item_key in @collection[:items].keys %>
      <% item = @collection[:items][item_key] %>
      <% if counter % 3 == 0 %>
      <div class="tile is-ancestor">
      <% end %>
        <div class="tile is-parent is-4">
          <div class='tile is-child box'>
            <%= link_to item_path({collection: @collection[:slug], item: item[:slug]}) do %>
              <figure class="image mb-3">
                <%=
                    image_tag item_image_url(@collection[:slug], item[:slug]),
                    alt: item[:title]
                %>
              </figure>
              <span class='is-size-6'><%= item[:title]%></span>
            <% end %>
          </div>
        </div>
      <% counter =counter+1%>
      <% if counter % 3 == 0 %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
</section>
